body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./wall.jpg') repeat-y;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

a:hover { outline: 3px solid rgba(4, 4, 255, 0.349); }
a .book-item:hover, .selected-book { color: rgba(4, 4, 255, 0.349);}
.root-wrapper { padding: 16px;}
.MuiPaper-root { background-color: #ffffffcf !important;/* sorry fo that */ }
.avatar { border-radius: 4px; }
.list-wrapper .MuiPaper-root { height: 100%; }
.book-item { font-weight: bold; }
button.back-button { color: #fff; }

.list-item-name {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 100;
}

.progress-bar {
  position: 'fixed';
  top: 0;
}

.page-title {
  text-align: center;
  font-weight: 300;
  color: #fff;
  text-shadow: 1px 0px black;
  text-transform: uppercase;
  margin-top: 0;
}